*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: #f4f4f4;
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #135fa0;
    color: white;
    padding: 2rem 1rem;
    position: fixed;
  }
  
  .sidebar h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .sidebar a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    transition: background 0.3s;
  }
  
  .sidebar a.active,
  .sidebar a:hover {
    background-color: #2ea6db;
  }
  
  .main-content {
    margin-left: 250px;
    flex: 1;
    padding: 2rem;
  }
  
  .dashboard-header {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #135fa0;
    font-weight: bold;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
  }
  
  .card-box {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card-box h3 {
    font-size: 1.2rem;
    color: #2ea6db;
    margin-bottom: 0.5rem;
  }
  
  .card-box p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #135fa0;
  }
  
  .card-box img {
    width: 60px;
    margin-bottom: 10px;
  }
  
  .chart-container {
    margin-top: 40px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .chart-container h2 {
    color: #135fa0;
    margin-bottom: 1.5rem;
  }

  .chart-container li{
    margin-bottom: 15px;
    margin-left: 20px;
  }

  .chart-container p{
    margin-bottom: 15px;
    margin-left: 10px; 
    line-height: 2.5;   
    font-size: 1.1rem;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  }

  .overview-card {
    margin-bottom: 2rem;
  }
  .overview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    gap: 1rem;
  }
  .overview-item {
    background: #fff;
    padding: 1.5rem 1.25rem;
    min-height: 120px;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    display: flex;
  	flex-direction: column;
  	justify-content: center;
  	text-align: center;
  	align-items: center; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }
  .overview-item strong {
    display: block;
    color: #135fa0;
    margin-bottom: 0.25rem;
    font-size: 1.15rem;
  }
  .overview-item span {
    color: #333;
    font-size: 1.1rem;
  }

  .page-header {
    font-size: 2rem;
    color: #135fa0;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  .report-card h5 {
      font-size: 1.4rem;
      font-weight: bold;
      color: #135fa0;
      margin-bottom: 1rem;
  }